.App {
    text-align: center;
    overflow-x: hidden;
}

.Message {
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 5%;
    right: 2.5%;
    border-radius: 50%;
    background-color: #7289da;
}